# Credenciales de Adobe PDF Services
# Obtén tus credenciales en: https://acrobatservices.adobe.com/dc-integration-creation-app-cdn/main.html
PDF_SERVICES_CLIENT_ID="99b60b590df24d07a039ad6ce35897de"
PDF_SERVICES_CLIENT_SECRET="p8e-BHHX52-BJotb7tx0C_nr1CH4JpjXQdRq"

# Puerto del servidor (opcional, por defecto 3000)
PORT=3000
